/*------------ FONT STYLING ------------*/

@font-face {
    font-family: "Basis Grotesque Pro";
    src: url("css/fonts/BasisGrotesquePro-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Basis Grotesque Pro";
    src: url("css/fonts/BasisGrotesquePro-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Circular";
    src: url("css/fonts/CircularStd-Bold.otf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Circular";
    src: url("css/fonts/CircularStd-Book.otf") format("truetype");
    font-weight: normal;
}

/*------------------------*/

*, *:before, *:after {
  	box-sizing: border-box;
}

html {
	font-size: 16px;
	/*padding: 20px 0;*/
	scroll-behavior: smooth;
}

html body {
	font-family: 'BasisGrotesquePro-Regular', sans-serif;
	background-color: #33546d;
	color: #fff;
	line-height: 1.25;
	opacity: 1;
  	transition: 2s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}

header {
	padding: 20px 0;
}

.hideme {
    opacity:0;
}

/*---------- Navigation ------------*/

header .logo a:hover {
	cursor: pointer;
}

.navlogo {
	width: 125px;
}

.logo {
	float: left;
	clear: both;
}

.hamburgermenu {
	float: right;
	cursor: pointer;
	z-index: 10;
	position: relative;
}

.hamburgermenu div {
  	display: block;
  	width: 35px;
  	height: 5px;
  	background-color: #fff;
  	margin: 6px 0;	
  	transition: 0.4s;
}

nav {
	position: fixed;
	width: 50vw;
	height: 100vh;
	background-color: #f1485b;
	z-index: 1;
	right: 0vw;
	display: block;
	/*right: -50%;*/
	transition: right 0.5s ease;
	padding: 0;
	top: 0;
}

nav ul {
	position: inherit;
	list-style: none;
	padding: 0;
	font-size: 3rem;
	margin: 25vh 10vh;
	line-height: 6rem;
	font-family: 'BasisGrotesquePro-Bold', sans-serif;

}

nav ul a {
	color: white;
}

nav ul a:hover {
	color: white;
}

.open {
	right: -50vw;
}

.close {
	opacity: 1;
}

.change {
	position: fixed;
    top: 20px;
    right: 135px;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
	opacity: 1;
}

/*---------- End Navigation ------------*/

/*------------BUTTON STYLING------------*/

.mainbutton {
	font-size: 1.25rem;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 10px;
	box-shadow: inset 0 -3px 0 0 rgba(0,0,0,.30);
	cursor: pointer;
}

.mainButtonNoShadow {
	font-size: 1.25rem;
	font-weight: bold;
	text-decoration: none;
	padding: 15px 25px;
	border-radius: 5px;
	cursor: pointer;
	background-color: transparent;
	color: #fff;
}

.mainButtonNoShadow:hover {
	color: #fff;
	border: 1px solid black;
	animation-name: background-color;
	animation-duration: 600ms;
	animation-fill-mode: forwards;
}

.buttonpadding {
	margin-top: 40px;
}

.mainbutton.red {
	color: #fff;
	background-color: #f1485b;
}

.mainbutton.red:hover {
	color: #fff;
	/*background-color: #000;*/
	text-decoration: none;
	animation-name: background-color;
	animation-duration: 600ms;
	animation-fill-mode: forwards;
}

@keyframes background-color {
	100% {
		background-color: #000;
	}
}

/*------------------------*/

body .container {
	width: 100%;
	max-width: 1200px;
	/*background-color: red;*/
	margin: 0 auto;
	/*text-align: center;*/

}

section.mainheadertext {
	height: 80vh;
	/*color: rgba(0,0,0,0.45)*/
	clear: both;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.mainheadertext .row  {
	display: flex;
	align-items: center;
}

.mainheadertext .positioningstatement {
	font-size: 4.4rem;
	margin: 0;
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
	letter-spacing: -2px;
}

.fullstop {
	font-family: 'Times', sans-serif;
	color: #f1485b;
	font-size: 4rem;
	line-height: 0;
}
	
/*span.wrap { 
  font-family: 'Times', sans-serif;
	color: #f1485b;
	font-size: 6rem;
	line-height: 0;
}*/


.mainheadertext p {
	font-size: 1.75rem;
	margin-top: 10px;
	/*letter-spacing: 1px;*/
}

/*------------TYPING CSS------------*/

.mainheadertext .typingkithere {
  /*background-color:#ce3635;*/
  text-align: left;
  color:#fff;
  /*padding-top:10em;*/
  /*height: 300px;*/
  width: 100%;
}

/*------------------------*/

.mainheadertext .rightMainImage {
	position: relative;
}

.mainheadertext .rightMainImage img {
	width: 100%;
	transform: scale(1.1,1.1) translate(50px);
}

.downArrowSection {
	padding-top: 30px;
}

.downarrow {
	margin: 0 auto;
	padding: 0;
}

.downarrow a {
	text-decoration: none;
	color: white;
}

.downarrow p {
	font-size: 3.5rem;
	text-align: center;
	margin: 0;
	padding: 0;
	line-height: 0;
}

section .tagline {
	font-size: 4rem;
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
	text-align: center;
	margin: 0;
	color: rgba(0,0,0,0.4);
	padding-bottom: 20px;
}

section .tagline p {
	margin: 0;
}

.createbuildgrow {
	margin: 150px 0;
}

.tagline .fullstop {
	font-size: 4rem;
	padding: 0;
	margin: 0;
	line-height: 0;
	color: rgba(0,0,0,0.4);
}

section .pagecontent {
	width: 100%;
	max-width: 800px;
	text-align: center;
	margin: 0 auto;
}

.dotbreak {
	font-size: 6rem;
	line-height: 0;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0 45px 0;
}

.featureproject {
	margin-bottom: 150px;
}


.deviceImageInner img {
	width: 59vw;
	transform: translate(-235px);
	position: relative;
}

.deviceImageScreen video {
	width: 45vw;
	position: absolute;
	right: 75px;
	top: 47px;
}

.featureproject .featureprojectright {
	/*background-color: red;*/
	padding-left: 50px;
}

.featureproject .row {
	align-items: center;
}

.featureproject h4 {
	color: rgba(0,0,0,0.4);
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
	font-weight: bolder;
}

/*------------HOME PAGE TESTIMONIAL------------*/

.homepagetestimonial {
	/*background-color: red;*/
	/*height: 200px;*/
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 150px;
}

.homepagetestimonial .row {
	display: flex;
	align-items: center;
}

.homepagetestimonial .speechMarksTestimonial {
	display: inline-block;
	position: relative;
	top: 150px;
	font-size: 25rem;
	line-height: 0;
	font-family:'Passion One', cursive;
	text-align: center;
	margin: 0;
	color: rgba(0,0,0,0.4);
}

.homepagetestimonial h4 {
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
}

.testimonialScrollBanner {
	display: inline-block;
}

/*------------SLIDER------------*/

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
    /*opacity: ;*/
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*---------------HOME PAGE LOGO BANNER-------------------------*/


.scrollinglogobanner {
	margin-bottom: 50px;
}

.scrollinglogobanner h4 {
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
	text-align: center;
}

/*-----------------FOOTER---------------*/

footer {
	display: flex;
	align-items: center;
	background-color: #f1485b;
	/*height: 300px;*/
	padding: 60px 0;
}

footer h2 {
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
	font-size: 2.25rem;
}

footer .footerContactDetails {
	font-size: 1.25rem;
}

footer .row {
	align-items: center;

}

footer .footerContactDetails .whiteLine {
	height: 5px;
	background-color: #fff;
	width: 10%;
	margin: 50px 0;
}

footer .fullstop {
	font-size: 3rem;
	line-height: 0;
	color: #fff;
}

footer a {
	text-decoration: underline;
	color: #fff;
}

footer a:hover {
	text-decoration: underline;
	color: rgba(0,0,0,0.4);
}

footer ul {
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
	list-style: none;
	font-size: 1.5rem;
	line-height: 3rem;
}

footer ul li a {
	text-decoration: none;
}

footer .footerSiteMap {
	text-align: right;
}

footer .leftSiteMap {
	width: 50%;
	margin-bottom: 40px;
}

footer .rightSiteMap {
	width: 50%;
	margin-bottom: 40px;
}

footer .leftSocialMedia {
	width: 40%;
}

footer .rightCompanyLogo {
	width: 40%;
}

footer i {
	font-family: 'FontAwesome', sans-serif;
	font-style: normal;
	font-size: 35px;
	color: rgba(0,0,0,0.4);
}

.social {
	text-align: right;
	padding: 20px 0;

}

.footericons {
	display: inline-block;
	padding: 10px 0;
}

.footericons a:hover {
	text-decoration: none;
}

.footericons:first-child {
	padding-right: 20px;
}

footer .footerSocialMedia {
	width: 40%;
}

footer .footerLogo {
	width: 40%;
}

footer .bottomlogo {
	width: 170px;
	opacity: 0.4;
}

/*--------------PROJECTS-----------*/

.projectLink {
	width: 100%;
}

.project-1 .projectRightBox div img {
	width: 90%;
}

.project-1 .projectRightBox .projectImage {
	text-align: center;
}

.projectsHeaderText {
	padding: 200px 0;
	margin: 0 auto;
}

.projectsHeaderText .row  {
	display: flex;
	align-items: center;
	justify-content: center;
}

.projectsHeaderText .mainProjectIntro {
	font-size: 4rem;
	margin: 0;
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
	letter-spacing: -2px;
}

.projectIndexList .individualProjectBox {
	border-radius: 10px;
	margin-bottom: 50px;
	display: flex;
	align-items: flex-end;
	width: 100%;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.projectIndexList .projectLink {
	color: #fff;
}

.projectIndexList .projectLink:hover {
	text-decoration: none;
	cursor: pointer;
}

.grow { 
	transition: all .2s ease-in-out;
}

.grow:hover {
	transform: scale(1.05);
}

.projectLeftBox {
	/*background-color: blue;*/
	padding: 30px 0 30px 30px;
}

.projectLeftBox .projectClientLogo img {
	width: 40%;
}

.projectLeftBox .projectTitleName {
	margin: 80px 0;
}

.projectLeftBox .projectTitleName h3 {
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
}

.projectRightBox {
	/*background-color: red;*/
	padding-right: 0;
}

.individualProjectBox.project-1 {
	background-color: #323345;
}

.individualProjectBox.project-2 {
	background-color: #6ebb82;
}

.individualProjectBox.project-3 {
	background-color: #015b7f;
}

.individualProjectBox.project-4 {
	background-color: #73abdd;
}

.typeOfProject {
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
}

.projectImage img {
	width: 100%;
}

#gif-rows .gif-file {
	display: none;
	width: 90%;
} 

/*------------INDIVIDUAL PROJECTS------------*/

.projectPageHeader {
	position: relative;
	z-index: 999;
}

.individualProjectPage {
	height: 95vh;
}

.mainProjectVideo {
	width: 100vw;
}

.mainHeroImage {
	background: url(../images/projects/1/mainhero.jpg) no-repeat center center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	margin: -40px 0;
	position: absolute;
	left: 0;
	overflow: hidden;
}

.individualClientLogo {
	width: 25%;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%,-50%);
 	-ms-transform: translate(-50%,-50%);
}

.overlay-effect {
	position: absolute;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	right: 0;
  	opacity: 0.9;
  	background-color: #323345;
  	overflow: hidden;
}

.pageDown {
	position: absolute;
	font-size: 3rem;
	top: 90%;
  	left: 50%;
}

.projectIntroduction {
	padding: 110px 0 120px 0;
}

.projectSpecs {
	/*background-color: red;*/
	padding-right: 40px;
}

.projectBrief {
	/*background-color: green;*/
}

.projectIntroduction h4 {
	color: rgba(0,0,0,0.4);
	font-family: 'BasisGrotesquePro-Bold', sans-serif;
}

.projectImageMainBanner {
	display: flex;
	background-color: #323345;
	padding: 60px 0;
}

.projectImageMainBanner img {
	width: 50%;
	margin: 0 auto;
}

.projectImageGalleryVideo {
  	position: relative;
  	overflow: hidden;
  	height: 300px;
}

/*.projectImageGalleryVideo video {
  	  position: absolute;
	  top: 50%;
	  left: 50%;
	  width: auto;
	  min-width: 100%;
	  height: auto;
	  min-height: 100%;
	  transform: translateX(-50%) translateY(-50%);
	  z-index: -1;
}*/

.projectImageGalleryThree div {
	background-color: #323345;
}

.projectImageOne,.projectImageTwo,.projectImageThree {
	width: 100%;
}

.projectImageOne img,.projectImageTwo img,.projectImageThree img{
	max-width: 100%;
	object-fit: cover;
}

.vjs-poster {
	background: url(../images/projects/1/videothumbnail.png) no-repeat center center;
	background-size: cover !important;
	opacity: .6 !important;
}

.vjs-poster:hover {
	opacity: 1 !important;
}

.vjs-big-play-button {
	color: #fff;
	position: initial;
}

.vjs-big-play-button:before {
	color: #fff;
	position: initial !important;
}

.checkOutProjects {
	font-family: 'BasisGrotesquePro-Bold';
	padding: 100px 0;
	text-align: center;
	margin: 0 auto;
}

/*------------CONTACT PAGE------------*/

.contactPageContactForm {
	background-color: #f1485b;
	width: 100%;
	padding: 75px 100px;
	margin-bottom: 100px;
	box-shadow: inset 0 -5px 0 0 rgba(0,0,0,.30);
}

.contactPageFormOuter {
	display: flex;
	margin-bottom: 30px;
}

.contactLeftBox, .contactRightBox {
	width: 50%;
}

.contactLeftBox {
	margin-right: 100px;
}

.contactFormCheckboxesOuter {
	display: flex;
	position: relative;
}

.contactFormCheckboxesLeft {
	margin-right: 50px;
}

.containerCheck {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.contactFormCheckboxesOuter input {
	position: absolute;
 	opacity: 0;
  	cursor: pointer;
  	height: 0;
  	width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid white;
}

/* On mouse-over, add a grey background color */
.containerCheck:hover input ~ .checkmark {
  background-color: rgba(0,0,0,0.1);
}

/* When the checkbox is checked, add a blue background */
.containerCheck input:checked ~ .checkmark {
  background-color: #33546d;
  border: 1px solid #33546d;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.containerCheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.containerCheck .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contactRightBox h4 {
	margin-bottom: 20px;
}

input {
	background-color: transparent;
	border: 1px solid white;
	padding: 15px 20px;
	width: 100%;
	margin: 12px 0;
	color: #fff;
}

input:focus {
	outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

input::placeholder {
	color: rgba(0,0,0,0.4);
}

textarea {
	background-color: transparent;
	border: 1px solid white;
	width: 100%;
	margin-top: 28px;
	padding: 15px 20px;
	color: #fff;
}

textarea:focus {
	outline: none;
}

textarea::placeholder {
	color: rgba(0,0,0,0.4);
}

.inputSubmitSection {
	text-align: center;
}

.contactPageHeader {
	padding-bottom: 0;
}

/*-------------ARROW------------*/

.contentArrow {
	position: relative;
	left: 160px;
}

.arrow {
	position: relative;
  	margin: 0 auto;
  	width: 100px;
}

.arrow .curve {
	border: 2px solid #fff;
	border-color: transparent #fff transparent transparent;
	height: 200px;
	width: 200px;
	border-radius: 10px 500px 500px 10px;
}

.arrow .point {
	position: absolute;
	left: 117px;
	top: 170px;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid #fff;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -24px;
	left: 50px;
	transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
  	-moz-transform:rotate(-10deg);
  	-ms-transform: rotate(-10deg);
}

.arrow .point:after {
  	top: -15px;
	left: 64px;
	transform:rotate(78deg);
	-webkit-transform: rotate(78deg);
  	-moz-transform:rotate(78deg);
  	-ms-transform: rotate(78deg);
}

/*------------ABOUT US------------*/

.aboutUsHeading {
	padding-bottom: 100px;
}

.counter {
	text-align: center;
}

.counterInner img {
	width: 40%;
	margin-bottom: 20px;
}

.counter .counter-count {
	font-size: 4.4rem;
	font-weight: bold;
}

.creativesHeading {
	font-size: 1.25rem;
}

.counterSection {
	margin-bottom: 100px;
}

/*------------MEDIA QUERIES------------*/

@media (max-width: 767px) {

	.navlogo {
		width: 110px;
	}


	.container {
		display: block;
	}

	/*Button Styling*/

	.mainbutton {
		font-size: 1rem;
	}

	.col-6 {
		width: 100%;
	}

	nav {
		width: 100%;
	}

	.change {
		right: 15px;
	}

	nav ul {
		margin: 20vh 5vh;
		font-size: 2.25rem;
		line-height: 5rem;
	}

	.open {
		right: -100vw;
	}

	section.mainheadertext {
		padding-top: 65px;
		/*color: rgba(0,0,0,0.45)*/
		text-align: center;
	}

	.mainheadertext .typingkithere {
		margin-bottom: 40px;
	}

	.mainheadertext .positioningstatement {
		font-size: 2.7rem;
	}

	.mainheadertext p {
		font-size: 1.35rem;
		margin-top: 10px;
	}

	.createbuildgrow {
		margin: 125px 0;
	}

	.mainheadertext .rightMainImage img {
		width: 90%;
		padding-top: 30px;
		transform: none;
	}

	.featureproject .featureprojectleft {
		display: block;
		width: 100%;
	}

	section .tagline {
		font-size: 2.5rem;
	}

	.fullstop {
		font-size: 3rem;
		line-height: 0;
	}

	.tagline .fullstop {
		font-size: 3rem;
	}

	.featureproject {
		margin: 125px 0;
	}

	.deviceImageInner {
		margin-bottom: 30px;
	}

	.deviceImageInner img {
		width: 100%;
		transform: none;
	}

	.deviceImageScreen video {
		width: 70vw;
		right: 58px;
		top: 19px;
	}

	.featureproject .featureprojectright {
		padding-left: 15px;
		text-align: center;
	}

	.homepagetestimonial {
		margin-bottom: 125px;
	}

	.homepagetestimonial .speechMarksTestimonial {
		font-size: 20rem;
	}

	.homepagetestimonial .col-sm-4 {
		padding-bottom: 50px;
	}

	footer h2 {
		font-size: 2rem;
	}

	footer ul {
		padding: 20px 10px 0 0;
	}

	footer .footerSiteMap {
		text-align: left;
	}

	/*PROJECTS*/

	.projectsHeaderText {
		padding: 150px 0;
	}

	.projectIndexList .projectLink {
		margin: 0 15px;
	}

	.projectsHeaderText .mainProjectIntro {
		font-size: 2.5rem;
		letter-spacing: -1px;
		text-align: center;
	}

	.projectIndexList .individualProjectBox {
		display: block;
	}

	.projectLeftBox {
		padding: 20px;
	}

	.projectLeftBox .projectClientLogo img {
		width: 60%;
	}

	.projectLeftBox .projectTitleName {
		margin: 45px 0;
	}

	/*-----INDIVIDUAL PROJECTS------*/

	.mainProjectVideo {
		height: 100vh;
		width: auto;
	}

	.individualClientLogo {
		width: 70%;
	}

	.projectSpecs {
		padding-bottom: 70px;
	}

	.projectIntroduction {
		padding: 100px 0;
	}

	.projectImageGalleryThree {
		display: inline-block;
	}

	.projectImageMainBanner img {
		width: 90%;
	}

	/*-----CONTACT PAGE------*/

	.mainArrowSection {
		display: none;
	}

	.contactPageHeader {
		padding: 125px 0;
	}

	.contactPageContactForm {
		padding: 20px;
		width: 98%;
		margin: 0 auto 100px auto;
	}

	.contactPageFormOuter {
		display: inline;
	}

	.contactLeftBox, .contactRightBox {
		width: 100%;
	}

	.contactLeftBox {
		margin-bottom: 30px;
	}

	.inputSubmitSection {
		margin-bottom: 30px;
	}

	textarea {
		margin-top: 40px;
	}

	/*-----ABOUT PAGE------*/

	.counterOuter {
		width: 50%;
		margin-bottom: 30px;
	}

	.counterInner img {
		width: 50%;
	}

	.counter .counter-count {
		font-size: 3rem;
	}

}

